<div class="poster-thumb">
  <img src="<%= poster.background.url :preview %>">
  <div class="poster-overlay">
    <div class="actions-wrapper">
      <div class="actions">
        <span class="poster-title"><%= poster.title %></span>
        <%= link_to "<i class=\"fa fa-times\"></i> #{t('posters.delete')}".html_safe, carousel_poster_path(poster.carousel, poster), method: :delete, data: { confirm: t('posters.delete_confirmation') }%>
      </div>
    </div>
  </div>
</div>
