<div class="poster-thumb" style="width: <%= poster.width :preview %>; height: <%= poster.height :preview %>; background-image: url(<%= poster.background.url :preview %>)">
    <h1><%= poster.title %></h1>
  </div>
