<div class="panel panel-default">
  <div class="panel-heading"><%= t 'posters.new_title', title: @poster.carousel.title %></div>

  <div class="panel-body">
    <%= render 'form', poster: @poster %>
  </div>
</div>
