<% content_for :main do %>
  <div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-upload"></i> <%= t 'posters.new_title', title: @poster.carousel.title %></div>

    <div class="panel-body">
      <%= render 'form', poster: @poster %>
    </div>
  </div>
<% end %>
