<div class="panel panel-default">
  <div class="panel-heading">Create a new poster for <%= @poster.carousel.title %></div>

  <div class="panel-body">
    <%= render 'form', poster: @poster %>
  </div>
</div>
