<div class="carousel" data-speed="<%= @carousel.speed %>">
  <% @carousel.posters.each do |p| %>
    <% if @carousel.portrait? %>
      <div class="poster" style="background-image: url(<%= p.background.url :rotated %>)"></div>
    <% else %>
      <div class="poster" style="background-image: url(<%= p.background.url :carousel %>)"></div>
    <% end %>
  <% end %>
</div>
