<div class="carousel" data-speed="<%= @carousel.speed %>">
  <% @carousel.posters.order(:order).each do |p| %>
    <div class="poster">
      <img src="<%= p.background.url p.display_style %>">
    </div>
  <% end %>
</div>
