<h1>crsl.ga is in <span class="label label-success">BETA</span></h1>
<p>You can try it out by signing up <%= link_to 'here', new_user_registration_path %>. Or you can <%= link_to 'log in', new_user_session_path %>.</p>
