// Poster preview component
$thumb-size: 281px;

.poster-thumb {
  border: 1px solid $gray-lighter;
  box-shadow: 0 0 7px $gray-lighter;
  border-radius: $border-radius-small;

  padding: 1rem;
  margin: $grid-gutter-width / 2;
  float: left;
  text-align: center;

  box-sizing: content-box;
  width: $thumb-size;
  height: $thumb-size + 40px;

  &:hover {
    cursor: move;
  }

  img {
    max-width: $thumb-size;
    max-height: $thumb-size;
    margin-bottom: 1rem;
  }

  .poster-actions {
    text-align: left;

    a:hover {
      text-decoration: none;
    }
  }
}
