<p>¡Hola <%= @email %>!</p>

<p>Puedes confirmar tu dirección de email a través de este enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
